<html>
<head>
  <!-- {% load static %} -->
  <link rel="stylesheet" href="{% static 'styles.css' %}" />
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
  </style>
</head>
<body>

<div class="navbar">

  <div id = "home_name">
    <a href="home">Jam Jelly</a>
  </div>

  <!-- <script>
  alert("cid: {{ user.profile.client_id }}");
  alert("secret: {{ user.profile.client_secret }}");
  </script> -->

  {% if error %}
    <script>
    alert("Error: Search Cannot Be Empty");
    </script>
  {% endif %}

  <div class="container-search">

    <!-- <div class="toggle-text">
      <p>Search By: </p>
    </div> -->

    <div class="toggle">
      <input type="radio" name="searchBy" value="artist" id="searchArtist" checked="checked" onclick="hideShow()" />
      <label for="searchArtist">Artist</label>
      <input type="radio" name="searchBy" value="song" id="searchSong" onclick="hideShow()" />
      <label for="searchSong">Song</label>
    </div>



    <div id="byArtist">
      <form id="search_form_artist" action = "http://127.0.0.1:8000/do_search/" method="POST">
          {% csrf_token %}
          <input type="text" name="artist" placeholder="Music that Sticks!..."/>
          <input type="submit" value="🎵 Artist"/>
          <input type="hidden" value="{{ user.profile.client_id }}" name="client_id" />
          <input type="hidden" value="{{ user.profile.client_secret }}" name="client_secret" />
      </form>
    </div>

    <div id="bySong">

      <form id="search_form_song" action = "http://127.0.0.1:8000/do_search_song/" method="POST">
          {% csrf_token %}
          <input type="text" name="artist" placeholder="Music that Sticks!..."/>
          <input type="submit" value="🎵 Song" />
          <input type="hidden" value="{{ user.profile.client_id }}" name="client_id" />
          <input type="hidden" value="{{ user.profile.client_secret }}" name="client_secret" />
      </form>
    </div>

  </div>


  <div class="dropdown">
    <button class="dropbtn">Profile</button>
    <div class="dropdown-content">
      <table>
          <tr><td>User</td> <td> {{ user.username }}</td></tr>
          <tr><td>ID</td> <td> {{ user.profile.client_id }}</td></tr>
          <tr><td>Secret</td> <td> {{ user.profile.client_secret }}</td></tr>
      </table>
      <a href="/logout" style="text-align: center;">Logout</a>
    </div>
  </div>


</div>

<br>
<br>
<br>
<br>

{% if method == "POST" %}
<!-- <script>
  alert("post triggered");
</script> -->

<div id = "container_main">

  <div id = "byArtist_main">
    <table>

      <col>
      <tr>
          <th rowspan="4" scope="rowgroup" style="width:25%"><img src={{r_image}} alt="Artist Image Alt Txt" style="height:100px;"></th>
      </tr>
      <tr>
        <th scope="col" style="width:25%">{{r_name}}</th>
        <th scope="col" style="width:25%">{{r_follow}} Followers</th>
        <th scope="col" style="width:25%">Popularity: {{r_pop}}</th>
      </tr>
      <tr>
        <th colspan="3" scope="colgroup" style="width:25%">Genres: {{r_genre}}</th>
      </tr>
      <tr>
        <th colspan="3" scope="colgroup" style="width:25%"><a href="{{r_url}}" target="_blank">{{r_url}}</a></th>
      </tr>

    </table>

    <div>

    {% autoescape off %}
    {{ plot_div }}
    {% endautoescape %}

    </div>

  </div>

  <div id = "bySong_main">
    <table>

      <col>
      <tr>
          <th rowspan="4" scope="rowgroup" style="width:25%"><img src={{r_image}} alt="Artist Image Alt Txt" style="height:100px;"></th>
      </tr>
      <tr>
        <th scope="col" style="width:25%">{{r_song_name}}</th>
        <th scope="col" style="width:25%">{{r_album_title}} Album</th>
        <th scope="col" style="width:25%">By {{r_artist_name}}</th>
      </tr>
      <tr>
        <th scope="col" style="width:25%">Date: {{r_date}}</th>
        <th scope="col" style="width:25%">Length: {{r_duration}} min</th>
        <th scope="col" style="width:25%">Popularity: {{r_pop}}</th>
      </tr>
      <tr>
        <th colspan="3" scope="colgroup" style="width:25%"><a href="{{r_url}}" target="_blank">{{r_url}}</a></th>
      </tr>

    </table>
  </div>

  <div id = "container_recommendations">

    <div id = "byArtist_rec">
    </div>

    <div id = "bySong_rec">
      <table>
        <tr>
          <th scope="col" style="width:30%">1: {{1_song}}</th>
          <th scope="col" style="width:70%"><a href="{{1_song_url}}" target="_blank">{{r_url}}</a></th>
        </tr>
        <tr>
          <th scope="col" style="width:30%">2: {{2_song}}</th>
          <th scope="col" style="width:70%"><a href="{{2_song_url}}" target="_blank">{{r_url}}</a></th>
        </tr>
        <tr>
          <th scope="col" style="width:30%">3: {{3_song}}</th>
          <th scope="col" style="width:70%"><a href="{{3_song_url}}" target="_blank">{{r_url}}</a></th>
        </tr>
        <tr>
          <th scope="col" style="width:30%">4: {{4_song}}</th>
          <th scope="col" style="width:70%"><a href="{{4_song_url}}" target="_blank">{{r_url}}</a></th>
        </tr>
        <tr>
          <th scope="col" style="width:30%">5: {{5_song}}</th>
          <th scope="col" style="width:70%"><a href="{{5_song_url}}" target="_blank">{{r_url}}</a></th>
        </tr>
      </table>
    </div>

  </div>

</div>
{% endif %}

</body>

<script type="text/javascript">

  if({{r_clicked}}=="song"){
    alert("song")
  }else{
    alert("first or artist")
  };
  
</script>

<script type="text/javascript">

  function hideShow() {
    var bySongVar = document.getElementById("bySong");
    var byArtistVar = document.getElementById("byArtist");
    var bySongMain = document.getElementById("bySong_main");
    var byArtistMain = document.getElementById("byArtist_main");
    var bySongCheck = document.getElementById("searchSong").checked;
    var byArtistCheck = document.getElementById("searchArtist").checked;
    bySongVar.style.display = "none";
    byArtistVar.style.display = "none";
    // bySongMain.style.display = "none";
    // byArtistMain.style.display = "none";
    if (bySongCheck == true && byArtistCheck == false) {
      bySongVar.style.display = "block";
      byArtistVar.style.display = "none";
      bySongMain.style.display = "block";
      byArtistMain.style.display = "none";
    } else if (bySongCheck == false && byArtistCheck == true) {
      bySongVar.style.display = "none";
      byArtistVar.style.display = "block";
      bySongMain.style.display = "none";
      byArtistMain.style.display = "block";
    } else {
      alert("radio button error T/T or F/F");
    };
  };

  hideShow();


</script>

</html>
