<html>
<head>
  <!-- {% load static %} -->
  <link rel="stylesheet" href="{% static 'styles.css' %}" />
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
  </style>
  <title>Spotify Search New User Registration</title>
</head>
<!--
<style type="text/css">
body {
    background-color: black;
    color: white;
}
a {
    color: green;
}
#howto {
    width:500px;
    border:1px solid white;
    padding: 10px 10px 10px 10px;
}
</style> -->

<body>



  <div class="session_register">

    <div class="left">
      <?xml version="1.0" encoding="UTF-8"?>
      <img src="/static/images/jam-icon-main.gif" alt="" style="width: 75%;">

    </div>

    <form id="newuserform" method="POST" action="register/" style="background:  #fefefe; padding-left: 10px;">
      <br>
      <h4 style="margin: 10px;"><span>New User </span>Registration</h4>

      In order to get your Spotify <code>client_id</code> and <code>client_secret</code>:
      <br>
      <ol>
          <li> Create a Spotify Account.</li>
       <li> Go to your <a href="https://developer.spotify.com/dashboard/" target="_blank">Spotify Developer Dashboard</a></li>
       <li> Login</li>
       <li> Create a new app</li>
       <li> The Client ID will be displayed immediately</li>
           <li> Click the "Show Client Secret" link to view the Client Secret</li>
      </ol>
      <br>
      Make sure to copy and paste both into the fields here!
      <br>

      <div class="floating-label">

        {% csrf_token %}
        <label for="name" style="margin: 10px;">Username:</label>
        <input placeholder="Username" type="text" name="name" id="name" value="" autocomplete="off" style="margin: 10px;">

      </div>

      <div class="floating-label">

        <label for="password" style="margin: 10px;">Password:</label>
        <input placeholder="Password" type="password" name="password" id="password" autocomplete="off" style="margin: 10px;">

      </div>

      <div class="floating-label">

        <label for="password" style="margin: 10px;">Client Id:</label>
        <input placeholder="Password" type="text" name="client_id" id="client_id" autocomplete="off" style="margin: 10px;">

      </div>

      <div class="floating-label">

        <label for="password" style="margin: 10px;">Client Secret:</label>
        <input placeholder="Password" type="password" name="client_secret" id="client_secret" autocomplete="off" style="margin: 10px;">

      </div>

      <input type="submit" id="submit" name="submit" value="Register New User" style="margin-left: 25px;"/>

      <a href="/">Back to Login</a>

    </form>
  </div>




</body>
</html>
