.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  display: block;
  text-align: center;
  font-size: 16px;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar .dropdown {
  float: right;
  overflow: hidden;
}

.navbar .dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #4e136b;
}

.navbar .container-search {
  float: left;
  margin-left: 25%;
}

.navbar .container-search button {
  float: center;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.navbar .container-search button:hover {
  background: #ccc;
}

.navbar input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.navbar .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
}

.navbar .dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.navbar .dropdown-content a:hover {
  background-color: #ddd;
}

.navbar .dropdown:hover .dropdown-content {
  display: block;
}


/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}


body {
  background-color: LightGray;
  font-family: Arial, Helvetica, sans-serif;
}





#container_main{
  width: 600px;
  height: 500px;
  font-size: 8pt;
  text-align: center;
  line-height: 50px;
  background-color: white;
  color: black;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
