
<html>
<head>
<title>Spotify Search Login</title>
</head>


<body>
<div id="title"><b>Welcome to a custom Spotify Search!</b></div>

<form id="loginform" method="POST" action="login/">
<table>
<tr><td>Username:</td><td> <input type="text" id="name" name="name" value="" /></td></tr>
<tr><td>Password:</td><td> <input type="password" id="password" name="password" value="" /></td></tr>
<tr><td><input type="submit" id="submit" name="submit" value="Login" /></td></tr>
</table>
</form>

<div>
    <a href="newuser">New User Registration</a>
</div>

</body>
</html>
