
<html>
<head>
<title>Spotify Search New User Registration</title>
</head>


<body>
<div id="title"><b>Welcome to a custom Spotify Search!</b></div>
<div id="title"><b>New User Registration</b></div>

<div>
    You have successfully registered
</div>

<table>
    <tr>
        <td>Username: </td><td>{{ user.username }} </td>
    </tr>
    <tr>
        <td>Password: </td><td>{{ user.password }} </td>
    </tr>
    <tr>
        <td>client_id: </td><td>{{ user.profile.client_id }}</td>
    </tr>
    <tr>
        <td>client_secret:</td><td>{{ user.profile.client_secret }}</td>
    </tr>
    </tr>
</table>

<a href="/search">Back to Login</a>

</body>
</html>
