
.navbar-brand {
  color: #660066 !important;
  font-family: 'Oi', cursive;
  font-size: 30px !important;


}
 
.btn {
    color: #660066 !important;
    font-family: 'Pacifico', cursive;
}

.form-inline {
    color: #660066 !important;
}