<!DOCTYPE html>
<html>
  <head>
    <title>Jam Jelly</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oi&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oi&family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-light bg-light justify-content-between">
      <a class="navbar-brand" id = "title">Jam Jelly</a>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="It Sticks!" aria-label="Search">
        <button class="btn btn-light" type="button">Search</button>
      </form>
    </nav>
  </body>
</html>