<html>
<head>
  <!-- {% load static %} -->
  <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />
</head>
<body>

<div class="navbar">

  <div>
    <a href="">🥪 Home</a>
  </div>

  <div class="container-search">
    <form action="http://127.0.0.1:8000/do_search/" method="POST">
        {% csrf_token %}
        <input type="text" name="artist" placeholder="Search by Artist..."/>
        <input style:"text-align: center;" type="submit" value="🎵" />
        <input type="hidden" value="{{ user.profile.client_id }}" name="client_id" />
        <input type="hidden" value="{{ user.profile.client_secret }}" name="client_secret" />
    </form>
  </div>

  <div class="dropdown">
    <button class="dropbtn">Profile 😎</button>
    <div class="dropdown-content">
      <table>
          <tr><td>User</td> <td> {{ user.username }}</td></tr>
          <tr><td>ID</td> <td> {{ user.profile.client_id }}</td></tr>
          <tr><td>Secret</td> <td> {{ user.profile.client_secret }}</td></tr>
      </table>
      <a href="/logout" style="text-align: center;">Logout</a>
    </div>
  </div>

</div>

<br>
<br>
<br>
<br>

<!-- <div class="Profile_Div">
  PROFILE
</div>

<div class="hide">
  Look here is text
  <a href="/logout" style="text-align: right;">Logout</a>
</div> -->





{% if method == "POST" %}
<div id = "container_main">


  Output Results Below:

<br>

<table>

  <tr>
    <th>Key</th>
    <th>Value</th>
  </tr>

  <tr>
    <td>Artist Name</td>
    <td>{{r_name}}</td>
  </tr>

  <tr>
    <td>Artist Image</td>
    <td><img src={{r_image}} alt="Artist Image Alt Txt" style="height:100px;"></td>
  </tr>

  <tr>
    <td>Artist Genres</td>
    <td>{{r_genre}}</td>
  </tr>

  <tr>
    <td>Artist Followers</td>
    <td>{{r_follow}}</td>
  </tr>

  <tr>
    <td>Artist Popularity</td>
    <td>{{r_pop}}</td>
  </tr>

  <tr>
    <td>Spotify URL</td>
    <td><a href="{{r_url}}" target="_blank">{{r_url}}</a></td>
  </tr>

</table>

<br>

Artists You May Enjoy:

<br>

<table>

  <tr>
    <th>Name</th>
    <th>URL</th>
  </tr>

  <tr>
    <td>Name 1</td>
    <td>URL 1</td>
  </tr>

  <tr>
    <td>Name 2</td>
    <td>URL 2</td>
  </tr>

</table>

</div>
{% endif %}

</body>
</html>
