<html>
<head>
<title>Spotify Search | Home</title>
</head>
<body>
<div id="title"><b>Welcome to a custom Spotify Search!</b></div>
<div>
Welcome to the home page
</div>
<div>
    <table>
        <tr><td>Username:</td> <td> {{ user.username }}</td></tr>
        <tr><td>Client ID</td> <td> {{ user.profile.client_id }}</td></tr>
        <tr><td>Client Secret</td> <td> {{ user.profile.client_secret }}</td></tr>
    </table>
    <hr/>
    <h3>Perform search</h3>
    <form action="http://127.0.0.1:8000/do_search/" method="POST">
        {% csrf_token %}
        <table>
            <tr>
                <td>Artist:</td><td><input type="text" name="artist" /></td>
            </tr>
            <tr>
                <td><input type="submit" value="Search" /></td> <td></td>
            </tr>
            <input type="hidden" value="{{ user.profile.client_id }}" name="client_id" />
            <input type="hidden" value="{{ user.profile.client_secret }}" name="client_secret" />
        </table>
    </form>

</div>

<div>
<a href="/logout">Logout</a>
</div>

{% if method == "POST" %}
<div>

<br>
<br>

  Output Results Below:

<br>

<table>

  <tr>
    <th>Key</th>
    <th>Value</th>
  </tr>

  <tr>
    <td>Artist Name</td>
    <td>{{r_name}}</td>
  </tr>

  <tr>
    <td>Artist Image</td>
    <td><img src={{r_image}} alt="Artist Image Alt Txt" style="height:100px;"></td>
  </tr>

  <tr>
    <td>Artist Genres</td>
    <td>{{r_genre}}</td>
  </tr>

  <tr>
    <td>Artist Followers</td>
    <td>{{r_follow}}</td>
  </tr>

  <tr>
    <td>Artist Popularity</td>
    <td>{{r_pop}}</td>
  </tr>

  <tr>
    <td>Spotify URL</td>
    <td><a href="{{r_url}}" target="_blank">{{r_url}}</a></td>
  </tr>

</table>

<br>

Artists You May Enjoy:

<br>

<table>

  <tr>
    <th>Name</th>
    <th>URL</th>
  </tr>

  <tr>
    <td>Name 1</td>
    <td>URL 1</td>
  </tr>

  <tr>
    <td>Name 2</td>
    <td>URL 2</td>
  </tr>

</table>

</div>
{% endif %}

</body>
</html>
