
<html>
<head>
<title>Spotify Search New User Registration</title>
</head>

<style type="text/css">
body {
    background-color: black;
    color: white;
}

a {
    color: green;
}

#howto {
    width:500px;
    border:1px solid white;
    padding: 10px 10px 10px 10px;
}
</style>

<body>
<div id="title"><b>Welcome to a custom Spotify Search!</b></div>
<div id="title"><b>New User Registration</b></div>


<div id="howto">
    In order to get your Spotify <code>client_id</code> and <code>client_secret</code>:

    <ol>
        <li> Create a Spotify Account.</li>

     <li> Go to your <a href="https://developer.spotify.com/dashboard/" target="_blank">Spotify Developer Dashboard</a></li>

     <li> Login</li>

     <li> Create a new app</li>

     <li> The Client ID will be displayed immediately</li>

         <li> Click the "Show Client Secret" link to view the Client Secret</li>

    </ol>
    Make sure to copy and paste both into the fields here!
</div>





<form id="newuserform" method="POST" action="register/">
{% csrf_token %}
<table>
<tr><td>Username:</td><td>      <input type="text" id="name"          name="name"          value="" /></td></tr>
<tr><td>Password:</td><td>      <input type="password" id="password"  name="password"      value="" /></td></tr>
<tr><td>client_id:</td><td>     <input type="text" id="client_id"     name="client_id"     value="" /></td></tr>
<tr><td>client_secret:</td><td> <input type="text" id="client_secret" name="client_secret" value="" /></td></tr>
<tr><td><input type="submit" id="submit" name="submit" value="Register New User" /></td></tr>
</table>
</form>

<a href="/">Back to Login</a>

</body>
</html>
